<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <!-- <ion-label>Type your Grade below: </ion-label>
    <ion-input type="text" [(ngModel)]="txtGrade" placeholder="Input Grade"></ion-input>
    <ion-button (click)="lookGrade()">Check</ion-button>
    <p>
      <ion-input type="text" [(ngModel)]="remarks1"></ion-input>
    </p>
    <p>
      <ion-input type="text" [(ngModel)]="remarks2"></ion-input>
    </p> -->

    <!-- <div (ionChange)="lookGrades()">
      <ion-label>Username</ion-label>
      <ion-input type="text" [(ngModel)]="txtUsername" (ionChange)="lookGrades()"></ion-input>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="txtPassword" (ionChange)="lookGrades()"></ion-input>
      <ion-button (click)="lookGrades()">Login</ion-button>
      <p>
        <ion-input type="text" [(ngModel)]="remarks1"></ion-input>
      </p>
      <p>
        <ion-input type="text" [(ngModel)]="remarks2"></ion-input>
      </p>
    </div> -->
  </div>
</ion-content>
